.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    background-color: rgb(172, 105, 50); /* Adjust as needed to avoid overlapping with the app bar */
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0; /* Move the header button to the left corner */
    width: 100%; /* Header background color */
    color: white; /* Header text color */
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    margin-left: 30px; /* Align the button to the left */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    padding: 20px;
  }
  
  .section {
    width: 120%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
  }
  
  .section > h4 {
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .section > button {
    margin-top: 10px;
  }
  
  .green-bg {
    background-color: #4caf4f; /* Green background color */
    color: white; /* Text color for green background */
  }
  
  .light-green-bg {
    background-color: #8bc34a; /* Light green background color */
    color: rgb(255, 255, 255); /* Text color for light green background */
  }
  
  .dark-green-bg {
    background-color: #388e3c; /* Dark green background color */
    color: white; /* Text color for dark green background */
  }
  .fertilizer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
  }
  
  .fertilizer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Optional: Add margin between items */
  }

  .fertilizer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black; /* Set font color to black */
    font-size: 16px; /* Optional: Add margin between items */
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Adjust space between buttons */
  }
  .image-container {
    border: 3px solid #000; /* Add border around the image */
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
    margin-top: 10px; /* Optional: Add padding for spacing */
  }
  
  .image-container img {
    width: 100%; /* Ensure the image fills the container */
  }

  .chart-container {
    margin-top: 30px;
  }
  