body {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  font-family: Arial, sans-serif; /* Set a default font-family */
  /* Add background image */
  background-image: url('../../images/Nilupul/bgimg.jpg') !important;
  background-size: cover !important; /* Adjusts the size of the background image to cover the entire body */
  background-position: center;
  background-attachment: fixed !important; /* Centers the background image */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    margin-left: 30px; 
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px; 
    padding: 20px;
  }
  
  .section {
    width: 120%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
  }
  
  .section > h4 {
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .section > button {
    margin-top: 10px;
  }
  
  .green-bg {
    background-color: #4caf4f;
    color: white; 
  }
  
  .light-green-bg {
    background-color: #8bc34a; 
    color: rgb(255, 255, 255); 
  }
  
  .dark-green-bg {
    background-color: #388e3c; 
    color: white; 
  }
  .fertilizer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .fertilizer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
  }

  .fertilizer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    font-size: 16px; 
  }
  
  .button-container {
    display: flex;
    gap: 10px; 
  }
  .image-container {
    border: 3px solid #000; 
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
    margin-top: 10px; 
  }
  
  .image-container img {
    width: 100%; 
  }

  .chart-container {
    margin-top: 30px;
  }

  .img-container {
    border: 3px solid #000 !important; 
    padding: 5px !important;
    background-color: #ffffff !important;
    border-radius: 20px !important;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6) !important;
    margin-top: 10px !important; 
    width: 200px !important;
    height: 200px !important; 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .img-container img {
    max-width: 100% !important; 
    max-height: 100% !important; 
  }
  .web-content img,
.web-content h1,
.web-content p {
  display: none;
}

.pdf-content img,
.pdf-content h1,
.pdf-content p {
  display: block;
}
  
  
  
  
  
  