body {
    margin: 0;
    padding: 0;
    background-image: url('../../images//common//paddy.jpg'); /* Replace 'your-image-url.jpg' with the URL of your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .container {
    border-radius: 20px; /* Adjust border radius as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Adjust background color as needed */
    padding: 20px; /* Adjust padding as needed */
    max-width: 400px;
    max-height: 300px; /* Adjust max width as needed */
    margin: auto;
    margin-top: 250px; /* Center horizontally and vertically */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9); /* Full height of the viewport */
  }

  .title {
    font-weight: bold !important; /* Make the text bold */
    text-shadow: 4px 4px 6px rgba(30, 184, 76, 0.6);
    font-size: 40px !important;
    margin-top: -40px !important;
    margin-bottom: 20px !important; /* Add a shadow effect */
  }
  
  